.DS_Store
.vscode
*.gram
/librime-lua
/assets/gendict/target
/assets/gendict_LL/target
/deploy/generator
/deploy/tmp
/schemas/hao/build
/schemas/hao/installation.yaml
/schemas/hao/default.custom.yaml
/schemas/hao/LL.custom.yaml
/schemas/hao/user.yaml
/schemas/hao/sync
/schemas/hao/*.userdb
/schemas/hao/*.userdb.bak
/schemas/hao/dicts/*.userdb
/schemas/hao/LL.txt
/schemas/hao/squirrel.yaml
/schemas/hao/weasel.yaml
/schemas/hao/weasel.custom.yaml
/schemas/releases
